@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: url(../img/bg.png);
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
}

.main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo {
    max-width: 15rem;
    border: 2px solid black;
    border-radius: 50%;
    margin: 2rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    margin: 5px;
}